@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Maven+Pro:wght@400;500;700&display=swap');

/* font-family: 'Gilda Display', serif;
font-family: 'Maven Pro', sans-serif; */
* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-image: url("https://assets.website-files.com/5c8834f1555981170b2fd8b1/5c898cd67456ffcba141a5ff_PROJECTS.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

header {
    background-color: #333;
    width: 100vw;
    height: 100vh;
    color: white;

}
header div:nth-child(1) {
    padding: 10px
}

header div:first-child a {
    font-size: 1.5em;
}

a {
    color: white;
    text-decoration: none;
}

div:nth-child(2) {
    background-image: linear-gradient(45deg, #8507e1,#3dc8d5);

    /* width: 30vw;
    margin: 25vh auto; */
    /* margin: 20vh auto ; */
    width: 300px;

    margin-top: 25vh;
    margin-right: auto;
    margin-left: auto;

    /* height: 300px; */
    text-align: center;
}

div:nth-child(2):hover {
    background-image: linear-gradient(45deg,#3dc8d5, #8507e1);

}

header div  h1 {
    font-size: 3em;
    text-align: center; 
    padding: .1em .7em;
    font-family: 'Gilda Display', serif;
    text-align: left;
    
}

header div p {
    padding: .7em;
    padding-top: 3em;
}





nav {
    text-align: end ;
    margin-bottom: 5vh;
    margin-top: 17vh;
}

nav:hover {
    color: white;
}

li {
    list-style: none;
    margin-right: 5vw;
    color: #fff;
}

section {
    margin: 20px;
    margin-bottom: 30px;
}

section p {
    margin-right: 50vh;
    margin: 5px  auto 20px auto; 
}

h1 {
    font-size: 2em;
    margin: 15px auto 1px auto;
}

img {
    width: 50vw;
    border-radius: 20px;
    margin-top: 15px;
}
/* 

content: 



Webdesign
Agrotechs
Digital product design
Namu Cursos
Webdesign, Branding */

/* Assets:

farbe: #333, #fff, #3dc8d5, #8507e1, #ccc
